<ion-view view-title="changepassword" animation="no-animation" cache-view="false">

  <ion-pane class="login-page change-password">

    <div class="login-grad">
      <ion-content class="padding" overflow-scroll="true" style="top: 0px">

        <div class="login-header"></div>    

        <ion-list class="card">

          <ion-item>
            <label>
              <input type="text" select-on-click placeholder="Username" ng-model="credenitals.username">
            </label>
          </ion-item>

          <ion-item>
            <label>
              <input placeholder="Old Password" type="{{inputType}}" ng-model="credenitals.oldpassword">
            </label>                
          </ion-item>

          <ion-item>
            <label>
              <input placeholder="New Password" type="{{inputType}}" ng-model="credenitals.newpassword">
            </label>                
          </ion-item>

          <ion-item>
            <label>
              <input placeholder="Confirm Password" type="{{inputType}}" ng-model="credenitals.confirmpassword">
            </label>                
          </ion-item>

          <ion-item class="show-password-item">              
            <ion-checkbox 
              class="show-password"                
              ng-model="showpassword" 
              ng-click="hideShowPassword()"
              ng-checked="false">
              
              <h2>Show Password</h2>                
            </ion-checkbox>
          </ion-item>

          <button class="button button-block button-balanced" ng-click="doChange()">Confirm</button>                     
        </ion-list>      
      </ion-content>    
    </div>
  </ion-pane>

</ion-view>




