<ion-view view-title="profile" cache-view="false" class="profile-screen">

  <div class="bar bar-header bar-positive">    
    <button class="button icon ion-chevron-left nav-buttons" ng-click="$back()"></button>    
<!--    <button class="button nav-buttons incident-submit-button" ng-click="updatePerson()">Update</button>-->
  </div>

	<div class="profile-header">
	<!--<a class="button icon-left ion-chevron-left button-clear"></a>-->
		<div class="user-profile-header">
			<div class="user-profile-image">
				<img ng-src="{{ userPhoto }}">
			</div>
			<span class="user-profile-name">{{person.FirstName}} {{person.LastName}}</span>
			<span class="user-profile-title">{{person.IDNR}}</span>
		</div>
	</div>

 	<ion-content overflow-scroll="true" class="profile-tab-content profile-details" style="top:225px;">
   	<ion-list class="profile-detail-inputs">

			<ion-item>
       	<span class="input-label">Directorate</span>
       	<input type="text" readonly value="{{person.directorate}}">
      </ion-item>

			<ion-item>
       	<span class="input-label">Department</span>
       	<input type="text" readonly value="{{person.department}}">
      </ion-item>
     
    	<ion-item>
       	<span class="input-label">Section</span>
       	<input type="text" readonly value="{{person.section}}">
      </ion-item>
     
     	<ion-item>
      	<span class="input-label">Sub-Section</span>
      	<input type="text" readonly value="{{person.subsection}}">
     	</ion-item>
     
     	<ion-item>
      	<span class="input-label">District</span>
      	<input type="text" readonly value="{{person.district}}">
     	</ion-item>
     
     	<ion-item>
      	<span class="input-label">Base</span>
      	<input type="text" readonly value="{{person.base}}">
     	</ion-item>
         
   	</ion-list>         
 	</ion-content>	     
</ion-view>
