<ion-view view-title="Splash">

 <ion-pane class="login-page">
     <div class="login-grad">

     <ion-content class="padding">       
       <!--
       <div class="splash-header active"></div>       
       <div class="splash-slogan">Building a safer city. Together.</div>
       -->
       <div class="splash-static"></div>       
       <div class="splash-slogan">Building a safer city. Together.</div>
       <div class="splash-progress">{{progress}}</div>
              
     </ion-content> 
     
     </div>

   </ion-pane>
</ion-view>




